

.witzijkant { 
    background:#FFF;
    color: #000000;
    text-align: center;
    height: 700px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 40px;
 }

 .mail {
 color: black;}

.contacttekst {font-size: 15px;
padding: 15px;}

.mail:hover {color: rgb(156,0,0);
}

#map {width:400px;height:400px;
}

