

/* instellingen logo */
.logo {width: 650px;
height: 450px;
position: absolute;
left: 50px;
top: 120px;
}


/* achtergrond */
body {background-color: rgb(220, 220, 225);




}

.banner {

    background-image: url("../img/achtergrond.jpg");
    background-size: 100% 600px;
}



/* zwart balkje */

.zwartbalkje { 
    
    background:#FFF;
    color: #000000;
    text-align: left;
    padding: 25px 0;
}











