

/* instellingen logo linksboven */


.logo {width: 30px;
float: left;
height: 30px;
position: absolute;
padding: 0;
margin: 30;

}


/* achtergrond */
body {background-color: rgb(220, 220, 225);





}

.banner {

    background-image: url("../img/achtergrond.jpg");
    background-size: 100% 600px;
    
}

.banner2 { background-image: url("../img/weg.jpg");
    background-size: 100% 300px;
}

 .banner3 { background-image: url("../img/foto.jpg");
    background-size: 100% 300px;
 }



/* zwart balkje */

.zwartbalkje { 
    
    background:#FFF;
    color: #000000;
    text-align: center;
    padding: 25px 0;
}


.test {background-color: #FFF;}


.foto2 {width: 100%;
margin:0;
padding-top: 0;
padding-right: 65px;
padding-left: 65px;

}















