

/* instellingen logo */
.logo {width: 650px;
height: 450px;
position: absolute;
left: 50px;
top: 120px;
}


/* achtergrond */
body {background-color: rgb(220, 220, 225);





}

.banner {

    background-image: url("../img/achtergrond.jpg");
    background-size: 100% 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner2 { background-image: url("../img/weg.jpg");
    background-size: 100% 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

 .banner3 { background-image: url("../img/foto.jpg");
    background-size: 100% 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}



/* zwart balkje */

.zwartbalkje { 
    
    background:#FFF;
    color: #000000;
    text-align: center;
    padding: 25px 0;
}











