@import url('https://fonts.googleapis.com/css?family=Raleway');
/* grid css */


.container-projects {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 40px;
}

/* cellen tabel */

.person {
    width: 33%;
    height: 300px;
    float: left;
    margin: 0;
    padding: 65px;
    border-left: 5px solid #000;
    
    }
    
/* tekst team */ 

.tekst {width: 33%;
    height: 300px;
    float: left;
    margin: 0;
    
    border-left: 5px solid #000;
    margin-top: 20px;
    background-color: #FFF;
    padding-left: 10px;}

.name {font-weight: bold;
}

.eigenschappen {margin: 5px;}

/* foto's team */

.bannerp1 {background-image: url("../assets/sieger.jpg");
background-size: 100%  100%;}

.bannerp2 {background-image: url("../assets/stijn.jpg");
background-size: 100%  100%;}

.bannerp3 {background-image: url("../assets/arne.jpg");
background-size: 120%  100%;}

.name {font-weight: bold;
}

.eigenschappen {margin: 5px;}


.adc {color: black;}