body {
  font-family: 'muli', sans-serif;
  font-size: .8rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.42;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'fira sans condensed', sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
}

.navi {font-family: 'courier new', sans-serif;
  font-size: .8rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.42;
  }